<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <% for(var i in messages){ %>
    <div class="flash"><%= messages[i] %></div>
    <% } %>

    <form action="/edit?_method=PUT" method="post">
      <div>
        <label>Username : </label>
        <input type="text" name="username">
      </div>
      <div>
        <label>Password : </label>
        <input type="password" name="password">
      </div>
      <button>Edit</button>
    </form>
    <a href="/"><button>Back</button></a>

    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
