<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <% for(var i in messages){ %>
    <div class="flash"><%= messages[i] %></div>
    <% } %>

    <form action="/leave?_method=DELETE" method="post">
      <button>Leave</button>
    </form>
    <a href="/"><button>Back</button></a>

    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
