<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <% for(var i in messages){ %>
    <div class="flash"><%= messages[i] %></div>
    <% } %>
    <h1>Manage Members</h1>

    <table>
      <thead>
          <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Grade</th>
            <th>createdAt</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <% users.forEach(function(user){ %>
            <td><%= user._id %></td>
            <td><%= user.username %></td>
            <td>
              <% if(user.grade === 3){ %>
                슈퍼 관리자
              <% } else if(user.grade === 2){ %>
                관리자
              <% } else{ %>
                회원
              <% } %>
            </td>
            <td><%= user.createdAt %></td>
          </tr>
        </tbody>
         <% }) %>
    </table>

    <a href="/"><button>Back</button></a>

    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
