<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <% for(var i in messages){ %>
    <div class="flash"><%= messages[i] %></div>
    <% } %>

    <form action="signup" method="post">
      <div>
        <label>Username : </label>
        <input type="text" name="username">
      </div>
      <div>
        <label>UserID : </label>
        <input type="text" name="_id">
      </div>
      <div>
        <label>Password : </label>
        <input type="password" name="password">
      </div>
      <input type="submit" value="Sign up">
    </form>
    <a href="/"><button>Back</button></a>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
